body{
overflow-x: hidden;
}
ul li{
    list-style: none;
    display: inline;
}

li > img {
    padding:1%;
}

.text{
    
    align-self: center;
}

img{
    padding: 0;
    white-space: 0;
}

@media only screen and (max-width: 800px) {
    .social {
        opacity: 0;
        display: none;
    }
   
}
@media only screen and (max-width: 600px) {
    .reverse {
            flex-direction: column-reverse;
        }
}